[system]
log_level       = {{ beernary_counter_config_log_level}}
mock_devices_enabled = {{ beernary_counter_config_mock_devices_enabled }}

[mysql]
hostname        = {{ beernary_counter_config_mysql_hostname }}
username        = {{ beernary_counter_config_mysql_username }}
password        = {{ beernary_counter_config_mysql_password }}
database        = {{ beernary_counter_config_mysql_database }}

[serial_devices]
rfid_reader     = {{ beernary_counter_config_serial_rfid_reader }}
signal_light    = {{ beernary_counter_config_serial_signal_light }}

[gpio_pins]
valve           = {{ beernary_counter_config_gpio_valve }}
flowsensor      = {{ beernary_counter_config_gpio_flowsensor }}

valve_2_enabled = {{ beernary_counter_config_gpio_valve_2_enabled }}
valve_2         = {{ beernary_counter_config_gpio_valve_2 }}

[draft]
time_unlock     = {{ beernary_counter_config_draft_time_unlock }}
time_warning    = {{ beernary_counter_config_draft_time_warning }}

[influxdb]
host            = {{ beernary_counter_config_influxdb_host }}
port            = {{ beernary_counter_config_influxdb_port }}
username        = {{ beernary_counter_config_influxdb_username }}
password        = {{ beernary_counter_config_influxdb_password }}
database        = {{ beernary_counter_config_influxdb_database }}